<?xml version="1.0"?>
<configuration>

  <connectionStrings>

    <add name="ePagoCentralV1_1" connectionString="Data Source=epg-inv02-cla;Initial Catalog=ePagoCentralV1_1;Integrated Security=False;User=sa;Password=Panama2005.;MultipleActiveResultSets=True;Application Name=MovivendorGenOnline" />
    <add name="ePagoBtsActivitySupport" connectionString="Data Source=epg-inv02-cla;Initial Catalog=BTS_ActivitySupport;Integrated Security=False;User=sa;Password=Panama2005.;MultipleActiveResultSets=True;Application Name=MovivendorGenOnline;  Asynchronous Processing = true" />

  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
